.Navbar {
    width: 310px;
    height: 995px;
    display: flex;
    flex-direction: column;

}

.NavbarTop {
    width: 290px;
    height: 244px;
    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: normal;
    background: #ff5e0d;
    color: #fff;
    background-color: #ED4075;
}

.NavbarBottom {
    width: 290px;
    height: 290px;
    font-family: 'Fira Sans';
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

span {
    font-family: 'Fira Sans';
    list-style: none;
    color: inherit;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    box-sizing: border-box;
}

.Roster {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}


.Parfume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    -webkit-text-size-adjust: 100%;
    font-family: 'Fira Sans';
    color: #000000;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 10px 0;
}


.NavbarImg {
    width: 290px;
    height: 323px;
}

#NavbarPicture {
    width: 290px;
    height: 290px;
}

.relative {
    -webkit-text-size-adjust: 100%;
    font-family: 'Fira Sans';
    -webkit-box-direction: normal;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
}

.banner-text {
    -webkit-text-size-adjust: 100%;
    font-family: 'Fira Sans';
    font-size: 14px;
    color: #000000;
    -webkit-box-direction: normal;
    font-weight: 300;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.37);
    border-top: solid 1px #fff;
    bottom: 0;
    left: 0;
    padding: 20px;
}

